body {
    background-color: lightgray;
    margin-right: 0;
    margin-top: 0;
}

header {
    background-color: gray;
    padding-left: 10px;
    padding-right: 10px;
    grid-area: header;
    /*    display: flex;
    justify-content: space-between;
    align-items: center;*/
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    row-gap: 0;
    display: grid;
}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /*width: 720px;*/
}

li.linavigation {
    float: left;
}

li.linavigation a {
        display: block;
        color: white;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
}

li.linavigation a:hover {
    background-color: #111;
}

li.linavigation button {
        display: block;
        color: black;
        background-color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

li.linavigation button:hover {       
        background-color: #333;
        color: white;
}

/* table temp css */
table.person {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td.person, th.person {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr.person:nth-child(even) {
    background-color: #dddddd;
}

.ajax-buttons {
    margin: 10px;
}

.create-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}