@model CombinedCountryViewModel

@{ ViewData["Title"] = "Country Index"; }
<h1>Country Index</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreateViewModel.CountryName" class="control-label"></label>
                <input asp-for="CreateViewModel.CountryName" class="form-control" />
                <span asp-validation-for="CreateViewModel.CountryName" class="text-danger"></span>
            </div>
            <div class="create-buttons">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row align-items-start">
    <div class="col">
        <h4>Country Name</h4>
    </div>

    <div class="col">
        <h4>Delete</h4>
    </div>

    <div class="col">
        <h4>Edit</h4>
    </div>
</div>

@foreach (var item in Model.CountryList)
{
<div class="row align-items-start">

    <div class="col">
        <p>@item.CountryName</p>
    </div>

    <div class="col">
        <a asp-action="Delete" asp-route-id="@item.CountryId" class="btn btn-danger">Delete</a>
    </div>

    <div class="col">
        <a asp-action="Edit" asp-route-id="@item.CountryId" class="btn btn-secondary">Edit</a>
    </div>

</div>
}