
@{
    ViewData["Title"] = "About";
}

<div class="cv">
    <h1>About - Curriculum Vitae</h1>

    <h2>Mattias Gustafsson</h2>

    <p><strong>Födelsedatum:</strong>  12, Juni, 1987</p>
    <a href="https://www.linkedin.com/in/mattiasgu87" target="_blank">LinkedIn</a>
    <a href="https://github.com/mattiasgu87" target="_blank">GitHub</a>

    <h2>IT-KUNSKAPER</h2>
    <h3>Mjukvara:</h3>
    <p><strong>Programspråk:</strong>	C#, C+, testat lite Java</p>
    <p><strong>Operativsystem:</strong>	Windows, testat Ubuntu</p>
    <p><strong>IT-verktyg:</strong>	Visual Studio, UML</p>

    <h2>UTBILDNING</h2>

    <h3>2021 - Pågående IT-påbyggnadsnivå programmering .NET	Lexicon Yrkesutbildning i Väst</h3>
    <p>Kursinnehåll:</p>
    <ul>
        <li>C# .NET</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Bootstrap</li>
        <li>Javascript</li>
        <li>SQL</li>
        <li>Entity Framework</li>
        <li>LINQ</li>
        <li>Azure</li>
        <li>Git versionshantering</li>
    </ul>

    <h3>2012 - 2016	Fristående kurser	Högskolan i Skövde</h3>
    <p>Exempel på kurser:</p>
    <ul>
        <li>PLC-programmering G1N</li>
        <li>Programvarutestning G1F</li>
        <li>Systemadministration - introduktion G1F</li>
        <li>Sannolikhetslära med tillämpningar G1N</li>
    </ul>

    <h3>2007 - 2012	Dataspelsutveckling  - Programmering	Högskolan i Skövde</h3>
    <p>Programmeringsutbildning med fokus på spel.  Har ej genomfört exjobbet. Exempel på kurser:</p>
    <ul>
        <li>Linjär algebra G1N</li>
        <li>Databassystem G1N</li>
        <li>Maskinnära programmering G1F</li>
        <li>Distribuerad nätverksdesign G2F</li>
        <li>Projekt i spelutveckling - Programmering G1F</li>
        <li>Parallella processer G1F</li>
    </ul>

    <h3>2006 - 2007	Naturvetenskapligt/tekniskt basår	Högskolan i Skövde</h3>
    <p>Gymnasiekurser: Fysik A & B, Kemi A & B, Biologi A & B, Matematik C & D</p>

    <h3>2003 - 2006	El/Multimediaprogrammet	NTI-gymnasiet Göteborg</h3>
    <p>Gymnasieutbildning med inriktning El/Data/Multimedia</p>

    <h2>ARBETSLIVSERFARENHET</h2>
    <h3>2018 - 2021	Butiksmedarbetare	ICA Yngves Livs</h3>
    <p>Kassaarbete samt arbete i butikens övriga avdelningar (chark, mejeri, frukt/grönt och kolonial).</p>

    <h3>2017 - 2018	Dataregistrerare	Workmatch / PostNord</h3>
    <p>Videokodning - korrigering/inmatning av adresser som datasystemet inte kunnat tolka.</p>

    <h3>2016 - 2018	Tidningsdistributör	Västsvensk Tidningsdistribution KB</h3>
    <p>Utdelning av tidningar måndag - fredag.</p>


    <h3>2008 - 2008	Vårdbiträde sommarvikarie	Skövde kommun</h3>
    <p>Uppgifterna har bestått av att vara de boende behjälpliga med varjehanda göromål som förekommer på ett äldreboende i den omfattning som behovet påkallar. Avser arbete på en avdelning för personer med demenssjukdom.</p>

    <h2>SPRÅK</h2>

    <p>Svenska  Modersmål</p>
    <p>Engelska Mycket goda kunskaper i tal och skrift</p>

    <h2>ÖVRIGA MERITER</h2>
    <ul>
        <li>Körkort: B</li>
        <li>Truckkörkort: A2-A4, B1-B3</li>
    </ul>
</div>