
@{
    ViewData["Title"] = "Contact";
}

<div class="contact">

    <h1>Contact Information</h1>

    <h3>Mattias Gustafsson</h3>

    <p><strong>Födelsedatum:</strong>  12, Juni, 1987</p>
    <p><strong>Adress:</strong> Kilenvägen 16, 430 82, Donsö</p>
    <p><strong>Mobil:</strong> 0703-972352</p>

    <div>
        <a href="mailto:mattiasgu87@gmail.com"><strong>E-mail:</strong> mattiasgu87@gmail.com</a>
    </div>
    <div>
        <a href="https://www.linkedin.com/in/mattiasgu87" target="_blank">LinkedIn</a>
    </div>
    <div>
        <a href="https://github.com/mattiasgu87" target="_blank">GitHub</a>
    </div>
</div>