
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("user"))
{
    <p>Your role is: user</p>
}
else if (User.IsInRole("admin"))
{
    <p>Your role is: admin</p>
}

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}