@model Person

<div class="row align-items-start">

    <div class="col">
        <p>@Model.Name</p>
    </div>

    <div class="col">
        <p>@Model.City.CityName</p>
    </div>

    <div class="col">
        <p>@Model.PhoneNumber</p>
    </div>

    <div class="col">
        <p>@Model.ID</p>
    </div>

</div>